# linux build stuff
bin
build
*.o
*.a
*.so

# eclipse stuff
.cproject
.project
.settings

# visual studio stuff
*.tlog
.vs

# windows build stuff
Debug
Release

# other
*.log
windows/*.bmp
*.ini

# ignore mts result images
test-files/mts-results/**/*.png

# ignore app configuration file
appConfig.json

# ignore code coverage report files
scripts/html
scripts/*info