[submodule "src/imgui"]
	path = src/third-party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/third-party/tracy"]
	path = src/third-party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "src/third-party/miniaudio"]
	path = src/third-party/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "src/third-party/implot"]
	path = src/third-party/implot
	url = https://github.com/epezent/implot.git
